# the 'working' project directory (the one containing folders: data, results, & scripts on the Bristol RDSF portal)
PROJECT_DIR=""

# the BBS clinical file (03_sample_clinical_data_all_cols.csv)
BBS_CLINICAL=""

# the BBS withdrawals file (WoC_20230608)
BBS_WITHDRAWAL=""

# the BBS metabolon files (ReportData.Rdata, bbs_only_2025_04_07_logfile.txt, 2023Q2_nmr_annotated_manifest_2023-08-14.csv)
BBS_METABOLON_RDATA=""
BBS_METABOLON_LOG=""
BBS_METABOLON_MANIFEST="" # dummy variable, not used for metabolon, just set for the Snakemake pipeline to find a file

# the BBS metabolon files (ReportData.Rdata, bbs_primary_nmr_no_outliers_2025_06_05_logfile.txt, 2023Q2_nmr_annotated_manifest_2023-08-14.csv)
BBS_NIGHTINGALE_RDATA=""
BBS_NIGHTINGALE_LOG=""
BBS_NIGHTINGALE_MANIFEST=""

# the DiRECT metabolon files (linear_mixed_associations_rnt_direct_scaled_metabolon.tsv, linear_mixed_associations_rnt_direct_scaled_intervention_only_metabolon.tsv)
DIRECT_METABOLON=""
DIRECT_INT_ONLY_METABOLON=""

# the DiRECT nightingale files (linear_mixed_associations_raw_z_direct_scaled_nightingale.tsv, linear_mixed_associations_raw_z_direct_scaled_intervention_only_nightingale.tsv)
DIRECT_NIGHTINGALE=""
DIRECT_INT_ONLY_NIGHTINGALE=""

# the BMI / HF MR repository
BMI_HF_MR_REPO=""