# local .env file
.env

# ignore R things
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
README.html
Rplots.pdf

# ignore .results
.results/*
!.results/.gitkeep
!.results/figures/.gitkeep
!.results/tables/.gitkeep
!.results/tmp_objects/.gitkeep

# snakemake
.snakemake

# mac things
.DS_Store
._*

# pycharm things
.idea/

# other
models_report.log
