# slurm settings
use-singularity: True
singularity-args: "-B $WORK/data:$WORK/data,$MRCIEU_DATA_DIR/genomic_data/dbsnp:$MRCIEU_DATA_DIR/genomic_data/dbsnp"
use-conda: True
cluster-cancel: scancel %j
cluster:
  sbatch
    --partition=short,test,compute
    --account=$SLURM_ACCOUNT 
    --nodes={resources.nodes}
    --ntasks-per-node={resources.ntasks_per_node}
    --cpus-per-task={resources.cpus_per_task}
    --time={resources.time}
    --mem={resources.mem_mb}
    --job-name={rule}-{wildcards}
    --output=$WORK/projects/bmi_metabolites_and_heart_failure/.snakemake/slurm_logs/rule_{rule}/%j_{rule}{wildcards}.out
default-resources:
  - time="01:00:00"
  - ntasks_per_node=1
  - nodes=1
  - cpus_per_task=1
  - mem_mb=10000
jobs: 100
restart-times: 0
max-jobs-per-second: 10
max-status-checks-per-second: 1
local-cores: 1
latency-wait: 10
keep-going: True
rerun-incomplete: True
printshellcmds: True
scheduler: greedy
